<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Notes</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <h1>Notes</h1>

        <p>
            <a href="/notesEdit" th:href="@{/notesEdit}">Create</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="notes : ${notesList}">
                    <td th:text="${notes.id}">1</td>
                    <td th:text="${notes.title}">Test</td>
                    <td>
                        <a href="/notesEdit/1" th:href="@{/notesEdit/__${notes.id}__}">Edit</a>
                        <a href="/notesDelete/1" th:href="@{/notesDelete/__${notes.id}__}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>