<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content">


		<h1>About</h1>

		<p>Lorem ipsum dolor sit amet, eu in mollis morbi nunc nulla
			metus, ipsum etiam dictum natoque nec eleifend. Congue nec porttitor,
			ullamcorper neque eu posuere tristique arcu, feugiat magna quam
			tristique nonummy diam torquent, venenatis ut, fugit suspendisse quis
			nec.</p>

	</div>

</body>
</html>