<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Header</title>
</head>

<body>

	<div th:fragment="sidebar">
		<div class="panel panel-default">
			<div class="panel-heading">Panel 1</div>
			<div class="panel-body">
				<div style="padding-bottom: 5px;">Panel 1 Content</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Panel 2</div>
			<div class="panel-body">
				<div style="padding-bottom: 5px;">Panel 2 Content</div>
			</div>
		</div>
	</div>

</body>

</html>